// Blue
$B100: var(--b100);
$B300: var(--b300);
$B500: var(--b500);
$B500a3: var(--b500a3);
$B900: var(--b900);

// Grey
$N0: var(--n0);
$N100: var(--n100);
$N10: var(--n10);
$N10a3: var(--n10a3);
$N20: var(--n20);
$N30: var(--n30);
$N500: var(--n500);
$N600: var(--n600);
$N900: var(--n900);

// Green
$G400: var(--g400);
$G500: var(--g500);
$G500a1: var(--g500a1);
$G500a2: var(--g500a2);

// Red
$R400: var(--r400);
$R500: var(--r500);
$R500a1: var(--r500a1);
$R500a2: var(--r500a2);

// Other
$border_color: $N30;
$border_radius: 4px;
$col_spacing: 8px;
$col_width: 100% / 8;
$light_bg_color: $N10;
$line_height: 20px;
$table_col_padding_side: 5px;
$table_col_padding_top: 2px;
$trans: 0.2s ease;
