<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="title" content="<%= htmlWebpackPlugin.options.title %>">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
      body { padding: 0; margin: 0 }
    </style>
  </head>
  <body>
    <div id="topLoader"></div>
    <div id="app"></div>
  </body>
</html>
